{"filter":false,"title":"exercise24.launch","tooltip":"/exercise24/launch/exercise24.launch","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":182.85714721679688,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":6,"mode":"ace/mode/text"}},"timestamp":1541128243571,"hash":"6f3e0d60416c2e0f9f4b33a39f5debabbfe49d4a"}