{"filter":false,"title":"exercise-2-4.launch","tooltip":"/exercise24/launch/exercise-2-4.launch","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":1,"column":24},"end":{"row":1,"column":25},"action":"remove","lines":["-"],"id":2}],[{"start":{"row":1,"column":25},"end":{"row":1,"column":26},"action":"remove","lines":["-"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":12},"end":{"row":2,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1541128243660,"hash":"6f3e0d60416c2e0f9f4b33a39f5debabbfe49d4a"}